@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Ubuntu'); 
/*font-family: 'Roboto', sans-serif;
 font-family: 'Lato', sans-serif;
 font-family: 'Ubuntu', sans-serif;
*/
 
 
body {
  margin: 0 auto;
  background-image: url('img/background.jpg');
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  padding-top: 80px; 
}

.main-header {
 background: rgba(174, 200, 221, 0.349);
 height: 90px;
 width: 100%; 
 left: 0; 
 top: 0;
 position: fixed;
 z-index:99;
}

header {
	text-align: center;
}

header img {
	margin: 10px 0px 0;
	width: 9%;
}

header div {
  position: relative;
}

.type-sort {
  outline: none;
	background: #ffffff;
	border: 1px solid #26a69a;
	border-radius: 2px;
	color: #2B4D86;
	float: right;
	padding: 10px;
	width: 25%;
}

section {
	padding: 0 !important;
}

h2 {
  margin: 0px;
}

h4 {
	color: #2B4D86;
  text-align: left;
  font-size: 100%;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

h6 {
  font-size: 13px;
}

.text-size {
  font-size: 1.1em;
}

.pokemon-evolution{
  display:inline-block;
}

.text-md-center {
  text-align: center!important;
}

.fixed-top {
  right: auto;
}

a:hover { 
  text-decoration: none;
}

.arrow {
  font-size: 30px;
  margin-left:20px;
  font-weight: 700;
  text-decoration: none;
}

.text-primary {
  color: #007bff!important;
}

.modal-container {
  background-color: #e7e7e7;
  width: 100%;
  height: 100%;
}

.p-2 {
  padding: .5rem!important;
}

.title-modal {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.modal {
	background-color: #111;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
  color: #fff;
  margin: 10% auto;
	padding: 20px;
	position: relative;
  width: 600px;
  height: 400px;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window.div {
  width:400px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffff;
  color: #3333;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.type-input {
  outline: none;
  border: 1px solid #26a69a;
  border-radius: 2px;
  color: #2B4D86;
  margin-bottom: 10px;
  padding: 10px 5px 10px 5px;
  width: 100%;
  text-align: left;
}

.type-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  height: 36px;
  text-align: center;
  letter-spacing: .5px;
  color: #ffff;
  background-color: #26a69a;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  font-weight: normal;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  width: 100%;
}

/* Overlay */
.type-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.type-button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 2px;
  padding: 50%;
  width: 32px; 
  height: 32px; 
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

.type-button:hover::before {
  opacity: 0.08;
}

.type-button:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.type-button:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

.type-button:disabled::before {
  opacity: 0;
}

.type-select {
  outline: none;
  background: #0e4e90;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  padding: 10px 5px 10px 5px;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
}

.content {
	margin-top: 30px;
}

nav {
  margin-top: 50px;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 4px 7px rgba(0,0,0,0.16);
	text-align: center;
}

.navegador {
	padding: 10px;
}

.cards-container {
  margin-top: 50px;
}

.card-link {
  height: 200px;
  color: #2B4D86;
  margin-bottom: 20px;
	background-color: #ffffff;
	border: 0;
  outline: 0;
	border-radius: 5px;
	box-shadow: 0 4px 7px rgba(0,0,0,0.16);
  text-align: center;
}

.card-link:hover .post-title {
  transition: color 0.3s ease;
  color: #e04f62;
}

.card-link:hover .post-image {
  transition: opacity 0.3s ease;
  opacity: 0.9;
}

.post-image {
  transition: opacity 0.3s ease;
  margin: auto;
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.article-details {
  padding: 0px;
}

.post-title {
  font-family: 'Lato', sans-serif;
  transition: color 0.3s ease;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}

.min-heigth-table {
	max-height: 65vh;
	width: 100%;
}

label {
  font-weight: normal;
}

.type-labels {
  font-size: 12px;
}

.badge-Hierba {
  background-color: rgb(2, 187, 2);
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;  
}

.badge-Veneno {
  background-color: blueviolet;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Fuego {
  background-color: red;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Volador {
  background-color: cornflowerblue;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Agua {
  background-color: dodgerblue;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Bicho {
  background-color: darkgreen;
  border-radius: 10px;
  padding: 02px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Normal {
  background-color: grey;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Electrico {
  background-color: rgb(255, 187, 0);
  border-radius: 10px;
  padding: 2px 10px;
  color: #333333;
  text-align: center;
}

.badge-Tierra {
  background-color: peru;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Lucha {
  background-color: maroon;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Psiquico {
  background-color: magenta;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Roca {
  background-color: rgb(148, 116, 75);
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Hielo {
  background-color: darkturquoise;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Fantasma {
  background-color: royalblue;
  border-radius: 10px;
  padding: 0px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Dragon {
  background-color: mediumslateblue;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Fairy {
  background-color: #fdb9e9;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Dark {
  background-color: #707070;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

.badge-Steel {
  background-color: #7585b1;
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
}

@media only screen and (max-width: 414px){
    
body {
  margin: 0 auto;
}

header img {
	margin: 15px 0px 0px;
	width: 26%;
}

.pokemon-evolution {
  margin-top: -18px;
}

.col-xs-6 {
  width: 100%;
}

.cards-container{
  margin-top: 30px;
}

.type-sort {
	float: right;
	padding: 10px;
  width: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  margin-top: 0px;
}

}